<h1>Ruby Word Counter</h1>
<form action="/output">
  <div class="form-group">
    <label for="input">Your Word, Please:</label>
    <input id="input" name="input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-warning btn-lg">Check</button>
</form>
