<h1>Ruby Word Counter</h1>
<form action="/results">
  <div class="form-group">
    <label for="search">Your search Word, please:</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="within">The words you wish to search through:
    </label>
    <input id="within" name="within" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-warning btn-lg">Check</button>
</form>
